svg {
  cursor: pointer;
}

.table{
  border: 1px solid #424242;
}

.tr{
  display: flex;
  width: fit-content;
  text-align: center;
}

.th, .td { 
  box-shadow: inset 0 0 0 1px #424242;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.th {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: gray.400; 
  padding: 0.5rem; 
  font-weight: bold; 
  font-size: 16px; 
  text-align: center;
  color: #c0c0c0;
  background-color: #2d3748;
}

.modal-content {
  margin: 12rem auto;
  width: 75% !important;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.modal-header{
  background-color: #c0c0c089;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.modal-close-button{
  margin: 5px;
}